@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700;800;900&display=swap');

html {
  width: 100%;
  overflow-y: scroll;
  font-family: 'Poppins';
}

body {
  margin: 0;
  font-family: 'Poppins';

  padding-left: auto;
  padding-right: auto;
  background-color: #000000 !important;
}

.BodySection {
  background-color: #000000 !important;

}

.NavBarBody {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  width: 100% !important;
  justify-content: space-between !important;

}

.navChildrenWrap {
  margin-left: 0;
  float: right !important;

}

.navChildren {
  color: aliceblue !important;
  background-color:transparent;
  padding:0.5rem;
  border-radius:0.8rem;
  font-size: 0.9rem;
  font-family: 'Poppins';
  text-decoration: none !important;
}
.navChildren:hover {
  color: aliceblue !important;
  background-color:#474747;
  padding:0.5rem;
  border-radius:0.8rem;
  font-size: 0.9rem;
  font-family: 'Poppins';
  text-decoration: none !important;
}
.navChildren:active {
  color: aliceblue !important;
  background-color:#474747;
  padding:0.5rem;
  border-radius:0.8rem;
  font-size: 0.9rem;
  font-family: 'Poppins';
  text-decoration: none !important;
}




.FirstContainer {
  margin-top: 6rem;
  width: 100% !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;


}

.FirstSectionLeftHeading {
  font-weight: 960;
  font-size: 2.3rem;
  font-family: 'Poppins';
  line-height: 126%;
  width: 100%;
  -webkit-animation: boxamine 4s infinite;
  -moz-animation: boxamine 4s infinite;
  animation: boxamine 4s infinite;

}

@keyframes boxamine {
  from {
    background: linear-gradient(270deg, #0057FF 0.04%, rgba(233, 0, 14, 0.66) 100.04%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

  }

  to {
    background: linear-gradient(270deg, rgba(255, 4, 20, 0.66) 20.0%, #4a82f1 110.0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

}

.FirstSectionLeftParagraph {
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: 'Poppins';
  font-size: smaller;
  line-height: 24px;
}

.SeeMoreBtn {
  border-radius: 100px !important;
  padding-left: 0.15rem !important;
  padding-right: 0.15rem !important;
  padding-top: 0.15rem !important;
  padding-bottom: 0.15rem !important;
  width: 10rem !important;
  height: 2.6rem;
}

.SeeMoreBtnInner {
  border-radius: 50px !important;
  margin: 0.001rem !important;
  background-color: white;
  color: #000000;
  font-size: medium;
  font-weight: 600;
  font-family: 'Poppins';
  height: 2.0rem;
  padding-top: 0.2rem;
  padding-bottom: "auto";

}

#GamingKeyboard {
  display: none !important;
}

.SecondContainer {
  margin-top: -1.5rem;
  margin-bottom: 2rem;
  width: 100% !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.AboutUsTextx1 {
  padding-top: 6.5rem;
  padding-left: 0rem;
  display: none;
  font-family: 'Poppins';
}

.AboutUsTextx2 {
  padding-top: 6.5rem;
  display: block;
  font-family: 'Poppins';
}

.AboutUsImagex1 {
  display: none;

}

.AboutUsImagex2 {
  display: block;

}

.FirstSectionLeftParagraph {
  width: 100% !important;
  font-family: 'Poppins';
}


.bodyme {
  width: 100%;
  margin-top: 2rem;
}

.abouturbanImage {
  width: 290px !important;
  height: 290px !important;



}



.leftImage {
  margin-top: 2rem;

}


.circularPath {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100% !important;
  background-color: azure;
  padding-top: 1rem;
}

.OurPartnerHeading {
  font-size: 2.05rem;
  font-weight: 700;
  line-height: 126%;
  font-family: 'Poppins';
  color: #FFFFFF;
}

.ThirdContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100% !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.sectionLine {
  height: 5rem !important;
}

.vdIframe {
  width: 95%;
  height: 20rem !important;
}

.ProductHeading {
  font-size: 2.75rem;
  font-weight: 700;
  font-family: 'Poppins';

  line-height: 126%;
  background: linear-gradient(90deg, #0057FF 0%, #FF0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;



  /* -webkit-animation: boxamine 4s infinite;
  -moz-animation: boxamine 4s infinite;
  animation: boxamine 4s  infinite; */
}

.SeeMoreBtnx {
  border-radius: 100px !important;
  padding-left: 0.15rem !important;
  padding-right: 0.15rem !important;
  padding-top: 0.15rem !important;
  padding-bottom: 0.15rem !important;
  width: 10rem !important;
  height: 2.6rem;
}

.SeeMoreBtnInnerx {
  border-radius: 50px !important;
  margin: 0.001rem !important;
  background-color: #85CCFF;
  color: #000000;
  font-size: medium;
  font-family: 'Poppins';
  height: 2.0rem;
  padding-top: 0.2rem;
  padding-bottom: "auto";

}

.BlogContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100% !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.card {
  border: #000000 !important;
  background-color: #000000;
  border-radius: 2rem
}

.cardbody {
  background-color: #000000 !important;
  border: #000000;

}

.cardtitle {
  color: white;
  font-size: 1.2rem;
  font-family: 'Poppins';
  padding-left: 0 !important;
}

.cardtext {
  color: white;
  font-size: 0.7rem;
  font-family: 'Poppins';
}

.cardimage {
  width: auto;
  height: auto;

}

.Formtopicname {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 126%;
}

.Formbody {
  background-image: url(./component.js/images/formbackground.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  height: auto;
  width: 100%;
  padding-bottom: 3.5rem;
}

.formtextleft {
  padding-top: 2rem !important;
  padding-left: 0.4rem;
  font-family: 'Poppins';
}

.formbody {
  width: auto;
  padding-left: 0rem;
  padding-right: 0rem;

}

.forminput {
  border-radius: 30px !important;
  background-color: #313131 !important;
  border: #000000 !important;
  height: 2.8rem;
  color: #FFFFFF !important;
  font-family: 'Poppins';
  width: 100% !important;
}

.formsubmit {
  width: 100% !important;
  height: 2.8rem;
  border-radius: 30px !important;
}

.modalme {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  width: 100% !important;
 

}
.modal-content{
  position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    background-color: black !important;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,.2);
    border-radius: 0.4rem !important;
    outline: 0;
}
.modalbodyx {
  background-image: url(./component.js/images/modalbg.svg);
  width:100% !important;
  background-size: cover;
  padding-left:0rem;
  padding-right:0rem;
  padding-top: 3rem;
  padding-bottom:3rem;
  border-radius:0.4rem !important;
  
}
.modaltitle {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 38px;
  line-height: 93.5%;

}
.formsubmitmodal{
  background-color: #000000 !important;
  width: 100% !important;
  height: 2.8rem;
  border-radius: 30px !important;
  border: #000000 !important;
}
.forminputmodal{
  border-radius: 30px !important;
  background-color: #313131 !important;
  border: #000000 !important;
  height: 2.8rem;
  color: #FFFFFF !important;
  font-family: 'Poppins';
  width: 100% !important;
}
.productsectiontwo{
  padding-left:1rem !important;
  padding-right:1rem !important;
}
.producttext{
  color: #FFFFFF;
  font-size:0.8rem;
}
.SeeMoreBtnxx {
  border-radius: 100px !important;
  padding-left: 0.15rem !important;
  padding-right: 0.15rem !important;
  padding-top: 0.15rem !important;
  padding-bottom: 0.15rem !important;
  width: 7rem !important;
  height: 2.6rem;
}

.SeeMoreBtnInnerxx {
  border-radius: 50px !important;
  margin: 0.001rem !important;
  background-color: white;
  color: #000000;
  font-size: medium;
  font-weight: 600;
  font-family: 'Poppins';
  height: 2.0rem;
  padding-top: 0.2rem;
  padding-bottom: "auto";

}








/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;


  }
}












/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .FirstContainer {
    margin-top: 08rem;
    width: 100% !important;
  }

  .AboutUsTextx1 {
    padding-top: 6.5rem;
    padding-left: 4.5rem;
    display: block;
  }

  .AboutUsTextx2 {
    padding-top: 6.5rem;
    display: none;
  }

  .AboutUsImagex1 {
    display: block;
  }

  .AboutUsImagex2 {
    display: none;
  }

  .bodyme {
    width: 100%;
    margin-top: 1rem;
  }

  .abouturbanImage {
    width: 420px !important;
    height: 420px !important;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .abouturbanImage:after {
    transform: rotate(-57deg);
  }

  .abouturbanImage:before {
    transform: rotate(57deg);
  }

  @keyframes rotate {

    100% {
      transform: rotate(360deg);
    }
  }

  .leftImage {
    margin-top: -4rem;
  }

  .sectionLine {
    height: 19rem !important;
  }

  .vdIframe {
    width: 95%;
    height: 20rem !important;
  }

  .ProductHeading {
    font-size: 2.75rem;
    font-weight: 700;

    line-height: 126%;
    background: linear-gradient(90deg, #0057FF 0%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;



    /* -webkit-animation: boxamine 4s infinite;
    -moz-animation: boxamine 4s infinite;
    animation: boxamine 4s  infinite; */
  }

  .SeeMoreBtnx {
    border-radius: 100px !important;
    padding-left: 0.15rem !important;
    padding-right: 0.15rem !important;
    padding-top: 0.15rem !important;
    padding-bottom: 0.15rem !important;
    width: 10rem !important;
    height: 2.6rem;
  }

  .SeeMoreBtnInnerx {
    border-radius: 50px !important;
    margin: 0.001rem !important;
    background-color: #85CCFF;
    ;
    color: #000000;
    font-size: medium;
    font-weight: 600;
    height: 2.0rem;
    padding-top: 0.2rem;
    padding-bottom: "auto";

  }

  .BlogContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .card {
    border: #000000 !important;
    background-color: #000000;
    border-radius: 2rem
  }

  .cardbody {
    background-color: #000000 !important;
    border: #000000;

  }

  .cardtitle {
    color: white;
    font-size: 1.2rem;
    padding-left: 0 !important;
  }

  .cardtext {
    color: white;
    font-size: 0.7rem;
  }

  .cardimage {
    width: auto;
    height: auto;

  }

  .Formtopicname {
    color: white;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 126%;
  }

  .Formbody {
    background-image: url(./component.js/images/formbackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    padding-bottom: 1.8rem;
  }

  .formtextleft {
    padding-top: 3rem !important;
    padding-left: 0rem;
  }

  .formbody {
    width: auto;
    padding-left: 0rem;
    padding-right: 0rem;

  }

  .forminput {
    border-radius: 30px !important;
    background-color: #313131 !important;
    border: #000000 !important;
    height: 2.8rem;
    color: #FFFFFF !important;
    width: 100% !important;
  }

  .formsubmit {
    width: 100% !important;
    height: 2.8rem;
    border-radius: 30px !important;
  }
  .modalme {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    width: 100% !important;
   
  
  }
  .modalbodyx {
    background-image: url(./component.js/images/modalbg.svg);
    background-size: cover;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
    padding-bottom:4rem;
    
  }
  .modaltitle {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 53px;
    line-height: 93.5%;
  
  }
  .formsubmitmodal{
    background-color: #000000 !important;
    width: 100% !important;
    height: 2.8rem;
    border-radius: 30px !important;
    border: #000000 !important;
  }
  .forminputmodal{
    border-radius: 30px !important;
    background-color: #313131 !important;
    border: #000000 !important;
    height: 2.8rem;
    color: #FFFFFF !important;
    font-family: 'Poppins';
    width: 100% !important;
  }
  .productsectiontwo{
    padding-left:3rem !important;
    padding-right:3rem !important;
  }
  .producttext{
    color: #FFFFFF;
  }
  
  



}











/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navChildrenWrap {
    margin-left: 0;
  }

  .FirstContainer {
    margin-top: 13rem;
  }

  .navChildren {
    color: aliceblue !important;
    font-size: 0.9rem;

  }

  .FirstContainer {
    margin-top: 20rem;
    width: 100% !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .FirstSectionLeftHeading {


    font-weight: 860;
    font-size: 3.5rem;
    line-height: 126%;
    width: 100%;

    -webkit-animation: boxamine 4s infinite;
    -moz-animation: boxamine 4s infinite;
    animation: boxamine 4s infinite;


  }

  @keyframes boxamine {
    from {
      background: linear-gradient(270deg, #0057FF 0.04%, rgba(233, 0, 14, 0.66) 100.04%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

    }

    to {
      background: linear-gradient(270deg, rgba(255, 4, 20, 0.66) 20.0%, #4a82f1 110.0%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

  }

  .FirstSectionLeftParagraph {
    font-size: 72px;
    color: aliceblue;


    font-size: smaller;
    width: 26rem;
    line-height: 24px;
  }

  .SeeMoreBtn {
    border-radius: 100px !important;
    padding-left: 0.15rem !important;
    padding-right: 0.15rem !important;
    padding-top: 0.15rem !important;
    padding-bottom: 0.15rem !important;
    width: 10rem !important;
    height: 2.6rem;
  }

  .SeeMoreBtnInner {
    border-radius: 50px !important;
    margin: 0.001rem !important;
    background-color: white;
    color: #000000;
    font-size: medium;
    font-weight: 600;
    height: 2.0rem;
    padding-top: 0.2rem;
    padding-bottom: "auto";

  }

  .SecondContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100% !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .AboutUsTextx1 {
    padding-top: 6.5rem;
    display: block;
  }

  .AboutUsTextx2 {
    padding-top: 6.5rem;
    display: none;
  }

  .AboutUsImagex1 {
    display: block;
  }

  .AboutUsImagex2 {
    display: none;
  }

  .bodyme {
    width: 100%;
    margin-top: -5rem;
  }

  .leftImage {
    margin-top: -15rem;
  }

  .circularPath {
    width: 8rem;
    height: 8rem;
    border-radius: 100% !important;
    background-color: azure;
    padding-top: auto;
  }

  .ThirdContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100% !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .ProductHeading {
    font-size: 3.75rem;
    font-weight: 700;

    line-height: 126%;
    background: linear-gradient(90deg, #0057FF 0%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;



    /* -webkit-animation: boxamine 4s infinite;
    -moz-animation: boxamine 4s infinite;
    animation: boxamine 4s  infinite; */
  }

  .vdIframe {
    width: 95%;
    height: 30rem !important;
  }

  .BlogContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100% !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .formbody {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card {
    border: #000000 !important;
    background-color: #000000;
    border-radius: 2rem
  }

  .cardbody {
    background-color: #000000 !important;
    border: #000000;

  }

  .cardtitle {
    color: white;
    font-size: 1.2rem;
    padding-left: 0 !important;
  }

  .cardtext {
    color: white;
    font-size: 0.7rem;
  }

  .cardimage {
    width: auto;
    height: auto;

  }

  .Formtopicname {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 126%;
  }

  .Formbody {
    background-image: url(./component.js/images/formbackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    padding-bottom: 8rem;
  }

  .formtextleft {
    padding-top: 7rem !important;
    padding-left: 1.5rem;
  }

  .forminput {
    border-radius: 30px !important;
    background-color: #313131 !important;
    border: #000000 !important;
    height: 2.8rem;
    color: #FFFFFF !important;
    width: 100% !important;
  }

  .formsubmit {
    width: 100% !important;
    height: 2.8rem;
    border-radius: 30px !important;
  }
  .modalme {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    width: 100% !important;
   
  
  }
  .modalbodyx {
    background-image: url(./component.js/images/modalbg.svg);
    background-size: cover;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 4rem;
    padding-bottom:4rem;
    
  }
  .modaltitle {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 53px;
    line-height: 93.5%;
  
  }
  .formsubmitmodal{
    background-color: #000000 !important;
    width: 100% !important;
    height: 2.8rem;
    border-radius: 30px !important;
    border: #000000 !important;
  }
  .forminputmodal{
    border-radius: 30px !important;
    background-color: #313131 !important;
    border: #000000 !important;
    height: 2.8rem;
    color: #FFFFFF !important;
    font-family: 'Poppins';
    width: 100% !important;
  }
  .productsectiontwo{
    padding-left:2rem !important;
    padding-right:2rem !important;
  }
  .producttext{
    color: #FFFFFF;
  }
  
  


}











/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  body {
    background-color: #000000;
  }

  .navChildrenWrap {
    margin-left: 0;

  }

  .navChildren {
    color: aliceblue !important;
    font-size: 0.9rem;

  }

  .FirstContainer {
    margin-top: 20rem;
    width: 100% !important;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  .FirstSectionLeftHeading {
    font-weight: 860;
    font-size: 4.3rem;
    line-height: 126%;
    width: 100%;

    -webkit-animation: boxamine 4s infinite;
    -moz-animation: boxamine 4s infinite;
    animation: boxamine 4s infinite;

  }

  @keyframes boxamine {
    from {
      background: linear-gradient(270deg, #0057FF 0.04%, rgba(233, 0, 14, 0.66) 100.04%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

    }

    to {
      background: linear-gradient(270deg, rgba(255, 4, 20, 0.66) 20.0%, #4a82f1 110.0%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

  }

  .FirstSectionLeftParagraph {
    font-size: 72px;
    color: aliceblue;
    font-size: smaller;
    width: 32rem;
    line-height: 24px;
  }

  .SeeMoreBtn {
    border-radius: 100px !important;
    padding-left: 0.15rem !important;
    padding-right: 0.15rem !important;
    padding-top: 0.15rem !important;
    padding-bottom: 0.15rem !important;
    width: 10rem !important;
    height: 2.6rem;
  }

  .SeeMoreBtnInner {
    border-radius: 50px !important;
    margin: 0.001rem !important;
    background-color: white;
    color: #000000;
    font-size: medium;
    font-weight: 600;
    height: 2.0rem;
    padding-top: 0.2rem;
    padding-bottom: "auto";

  }

  .SecondContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100% !important;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  .AboutUsText {
    padding-top: 6.5rem;
  }

  .bodyme {
    width: 100%;
  }

  .leftImage {
    margin-top: -15rem;
  }

  .ThirdContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100% !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .BlogContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100% !important;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  .formbody {
    width: auto;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .card {
    border: #000000 !important;
    background-color: #000000;
    border-radius: 2rem
  }

  .cardbody {
    background-color: #000000 !important;
    border: #000000;

  }

  .cardtitle {
    color: white;
    font-size: 1.2rem;
    padding-left: 0 !important;
  }

  .cardtext {
    color: white;
    font-size: 0.7rem;
  }

  .cardimage {
    width: auto;
    height: auto;

  }

  .Formtopicname {
    color: white;
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 126%;
  }

  .Formbody {
    background-image: url(./component.js/images/formbackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    padding-bottom: 8rem;
  }

  .formtextleft {
    padding-top: 7rem !important;
    padding-left: 3.5rem;
  }

  .forminput {
    border-radius: 30px !important;
    background-color: #313131 !important;
    border: #000000 !important;
    height: 2.8rem;
    color: #FFFFFF !important;
    width: 100% !important;
  }

  .formsubmit {
    width: 100% !important;
    height: 2.8rem;
    border-radius: 30px !important;
  }
  .modalme {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    width: 100% !important;
   
  
  }
  .modalbodyx {
    background-image: url(./component.js/images/modalbg.svg);
    background-size: cover;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 4rem;
    padding-bottom:4rem;
    
  }
  .modaltitle {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 53px;
    line-height: 93.5%;
  
  }
  .formsubmitmodal{
    background-color: #000000 !important;
    width: 100% !important;
    height: 2.8rem;
    border-radius: 30px !important;
    border: #000000 !important;
  }
  .forminputmodal{
    border-radius: 30px !important;
    background-color: #313131 !important;
    border: #000000 !important;
    height: 2.8rem;
    color: #FFFFFF !important;
    font-family: 'Poppins';
    width: 100% !important;
  }
  .productsectiontwo{
    padding-left:8rem !important;
    padding-right:8rem !important;
  }
  .producttext{
    color: #FFFFFF;
  }
  

}